#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
    };
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <1>;
        rows = <11>;
	/* Map represents trackball in "Landscape" orientation, aka Finger-controlled. */
        map = <
		                 /* Ball */
	         	RC(0,3)              RC(0,0) 
		 RC(0,4)                            RC(0,1)
   		 RC(0,5) 	                    RC(0,2) 
                  /* Buttons on top of the middle deck */
  		       /* Unlock  BTSelect BTReset */ 
                          RC(0,6) RC(0,7)  RC(0,8)        
               /* Slider switches on the bottom of the middle deck */
		/* Handiness L/R   Orientation Thumb/Fingers  */
                      RC(0,9)               RC(0,10)      
        >;
    };
};
